{% extends "clientes/base.html" %}

{% block titulo %}
Remoção de clientes
{% endblock titulo %}

{% block conteudo %}
<div class="card">
    <div class="card-header">
        Tem certeza que deseja remover o cliente abaixo?
    </div>
    <div class="card-body">
        <h5 class="card-title">Nome: {{cliente.nome}}</h5>
        <h5 class="card-title">Sexo: {{cliente.sexo}}</h5>
        <h5 class="card-title">Data de Nascimento: {{cliente.data_nascimento}}</h5>
        <h5 class="card-title">Email: {{cliente.email}}</h5>
        <h5 class="card-title">Profissão: {{cliente.profissao}}</h5>
        <form method="post">
            {% csrf_token %}
            <a href="{{request.META.HTTP_REFERER}}" class="btn btn-primary">Voltar</a>
            <button class="btn btn-danger" type="submit">Remover</button>
        </form>
    </div>
</div>

{% endblock conteudo %}