<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>
<main class="container">
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            {{ form.nome.errors }}
            <label>Nome: </label>
            {{ form.nome }}
        </div>

        <div class="form-group">
            {{ form.sexo.errors }}
            <label>Sexo: </label>
            {{ form.sexo }}
        </div>

        <div class="form-group">
            {{ form.data_nascimento.errors }}
            <label>Data de nascimento: </label>
            {{ form.data_nascimento }}
        </div>

        <div class="form-group">
            {{ form.email.errors }}
            <label>Email: </label>
            {{ form.email }}
        </div>

        <div class="form-group">
            {{ form.profissao.errors }}
            <label>Profissao: </label>
            {{ form.profissao }}
        </div>

        <div class="form-group">
            <input type="submit" name="Cadastrar">
        </div>
    </form>
</main>
</body>
</html>