<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form method="post">
        {% csrf_token %}
        <div>
            <label>Nome: </label>
            {{ form.nome }}
        </div>

        <div>
            <label>Sexo: </label>
            {{ form.sexo }}
        </div>

        <div>
            <label>Data de nascimento: </label>
            {{ form.data_nascimento }}
        </div>

        <div>
            <label>Email: </label>
            {{ form.email }}
        </div>

        <div>
            <label>Profissao: </label>
            {{ form.profissao }}
        </div>

        <div>
            <input type="submit" name="Cadastrar">
        </div>
    </form>
</body>
</html>